<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

    <dl>
      <dt><a href="research.html">Research</a></dt>
      <dt><a href="Demiray_2024_CV.pdf">CV</a></dt>
      <a href="about.html">About</a>
    </dl>
        
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

        <p> 
          I am Duygu, a first year Ph.D. student at the UMass Department of Linguistics. I am interested in sentence processing, particularly in how structural information is used to maintain and recall information about linguistic elements. I completed my MA in UCSC Linguistics and my BA in Boğaziçi University's Linguistics department, where I worked with <a href="https://people.ucsc.edu/~mwagers/">Matt Wagers</a> and <a href="https://www.linkedin.com/in/pavel-logacev/?originalSubdomain=de">Pavel Logačev</a>. I am currently advised by <a href="https://people.umass.edu/bwdillon/">Brian Dillon</a>.
        </p>
      <!--<img src="{{site.logo | relative_url}}" alt="Logo" />-->

      </section>
      <footer>

      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
